[Desktop Entry]
Name=Enlisted
Exec=env WINEPREFIX="/home/user/Games/enlisted" wine C:\\\\users\\\\user\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Enlisted\\\\Enlisted.lnk
Type=Application
StartupNotify=true
Path=/home/user/Games/enlisted/dosdevices/c:/users/user/AppData/Local/Enlisted
Icon=D5F6_icon.0
StartupWMClass=launcher.exe
